
.icon {
    font-size: 4em;
    text-align: right;
  }
  
  .card-body {
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .blackcolor {
    color: black !important;
  }
  
  .card-detail {
    padding: 20px;
  }
  
  .card-link {
    text-align: center !important;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left:0px !important;
  }
  
  .ubahColPadding{
      padding : 15px !important;
      font-size: 10px !important;
  }
  .btn-size{
      font-size: 10px !important;
  }
  .box{
    margin-bottom: 0 !important;
  }