.sidebar{
    padding-top: 0% !important;
    background-color: white !important;
    /* border-right: 1px rgba(137, 197, 49, 0.5) solid; */
}
.logoBuncis{
    background-color: rgb(94, 150, 34);
}
.sidebarcol{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
  .navmodif{
      border-color: none !important;
      color: white !important;
    border: 1px solid rgb(94, 150, 34) !important;
  }
  .navmodif:not(:disabled):not(.disabled) {
    cursor: default; 
}